<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>WebApiSample</display-name>
	<welcome-file-list>
 		<welcome-file>index.html</welcome-file>
 	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

<!-- 	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page> -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/appCtx.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Jersey mappings for rest api -->
	<servlet>
		<servlet-name>Jersey servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
    		<!-- Register apis under this package  -->
        	<param-name>jersey.config.server.provider.packages</param-name>
	      	<param-value>local.halflight.learning.webservice.api.rest</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>